# Maven
/backend/target/
/backend/*/target/
/backend/api/data/

# IDEs
/.idea/
*.iml

# Logs
*.log

# Frontend build artifacts
/frontend/node_modules/
/frontend/dist/
/frontend/.vite/

# H2 Database files
/backend/data/
